# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.log

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# Project specific
vectorstore/
imgs/
README.md
LICENSE
*.md 